@model IEnumerable<p7cSarlWF.Models.Utilisateur>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Gestion des utilisateurs</h3>
        </div>
        <div class="title_right">
            @Html.Partial("_Search")
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Liste des utilisateurs</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i> Options</a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    @Html.ActionLink("Nouvel utilisateur", "Create")
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
                            <ul class="pagination pagination-split">
                                <li>
                                    <a href="#">A</a>
                                </li>
                                <li>
                                    <a href="#">B</a>
                                </li>
                                <li>
                                    <a href="#">C</a>
                                </li>
                                <li>
                                    <a href="#">D</a>
                                </li>
                                <li>
                                    <a href="#">E</a>
                                </li>
                                <li>...</li>
                                <li>
                                    <a href="#">W</a>
                                </li>
                                <li>
                                    <a href="#">X</a>
                                </li>
                                <li>
                                    <a href="#">Y</a>
                                </li>
                                <li>
                                    <a href="#">Z</a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>

                        
                        
                        @foreach (var item in Model) {
                            <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
                                <div class="well profile_view">
                                    <div class="col-sm-12">
                                        <div class="x_title">
                                            <h2>@Html.Raw(item.Civilite + " " + item.FirstName + " " + item.LastName)</h2>
                                            <ul class="nav navbar-right panel_toolbox">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i> Options</a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li>
                                                            <a href="@Url.Action("Edit", new { id = item.UtilisateurID })"><i class="fa fa-edit"></i> Modifier</a>
                                                            
                                                        </li>
                                                        <li>
                                                            <a href="@Url.Action("Delete", new { id = item.UtilisateurID })" class="delete"><i class="fa fa-trash"></i> Supprimer</a>
                                                        </li>
                                                    </ul>
                                                </li>

                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="left col-xs-7">
                                            <h2>@item.Username</h2>
                                            
                                            <ul class="list-unstyled">
                                                <li><i class="fa fa-mobile-phone"></i>&nbsp;@Html.Raw(item.Profil.MobPhone) </li>
                                                <li><i class="fa fa-phone"></i>&nbsp;@item.Profil.OfficePhone </li>
                                                <li><i class="fa fa-envelope"></i>&nbsp;@item.email </li>
                                                <li><i class="fa fa-external-link-square"></i> @item.Profil.Website </li>
                                            </ul>
                                        </div>
                                        <div class="right col-xs-5 text-center">
                                            <img src="~/images/user.png" alt="" class="img-circle img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 bottom text-center">
                                        <div class="col-xs-12 col-sm-4 emphasis">
                                            <p class="ratings">
                                                <a href="#" title="@item.Profil.Facebook"><span class="fa fa-facebook-square"></span></a>
                                                <a href="#" title="@item.Profil.Skype"><span class="fa fa-skype"></span></a>
                                                <a href="#" title="@item.Profil.Googleplus"><span class="fa fa-google-plus-square"></span></a>
                                                <a href="#" title="@item.Profil.Linkedin"><span class="fa fa-linkedin-square"></span></a>
                                                <a href="#" title="@item.Profil.Twitter"><span class="fa fa-twitter-square"></span></a>
                                            </p>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 emphasis">
                                            <a class="btn btn-success btn-xs">
                                                <i class="fa fa-user">
                                                </i> <i class="fa fa-comments-o"></i>
                                                Activités
                                            </a>
                                            <a class="btn btn-primary btn-xs">
                                                <i class="fa fa-user">
                                                </i> Voir le profil
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        } 
                        
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
