@model p7cSarlWF.Models.Ressource
@{
    var TypesRessources = (List<p7cSarlWF.Models.TypeRessource>)ViewBag.TypesRessources;
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Create</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Project", null)">Projets</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("TypeList", "Ressource", null)">Types Ressources</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "Client", null)">Clients</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "Utilisateur", null)">Utilisateurs</a></li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @using (Html.BeginForm(new {enctype = "multipart/form-data"})) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Ressource</h4>
            <hr />
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.RessourceDescription, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RessourceDescription, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RessourceDescription)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.RessourceName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RessourceName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RessourceName)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.TypeRessourceID, "TypeRessourceID", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.TypeRessourceID, new SelectList(@TypesRessources, "TypeRessourceID", "TypeName"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TypeRessourceID)
                </div>
            </div>
    
            <div class="form-group">
                @Html.Label("Associer des fichiers", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" id="Fichiers" name="Fichiers" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
<script src="~/Scripts/jquery-2.1.4.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/underscore.js"></script>
<script src="~/Scripts/backbone.js"></script>
<script src="~/Scripts/knockout-3.3.0.js"></script>
