@model IEnumerable<p7cSarlWF.Models.Ressource>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/pnotify.custom.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/craftpip-jquery-confirm/jquery-confirm.css" rel="stylesheet" />  
    <title>RessourceList</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Project", null)">Projets</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("TypeList", "Ressource", null)">Types Ressources</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "Client", null)">Clients</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "Utilisateur", null)">Utilisateurs</a></li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeRessource.TypeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RessourceDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RessourceName)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeRessource.TypeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RessourceDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RessourceName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.RessourceID }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.RessourceID }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.RessourceID }, new {@class="delete" })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/craftpip-jquery-confirm/highlight.min.js"></script>
<script src="~/Scripts/craftpip-jquery-confirm/jquery-confirm.js"></script>
<script src="~/Scripts/craftpip-jquery-confirm/pretty.js"></script>
<script src="~/Scripts/pnotify.custom.js"></script>
<script src="~/Scripts/script.js"></script>