
@model p7cSarlWF.Models.Project
@{
    var TypesRessources = (List<p7cSarlWF.Models.TypeRessource>)ViewBag.TypesRessources;
    var Ressources = (List<p7cSarlWF.Models.Ressource>)ViewBag.Ressources;
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Gestion des projets
            </h3>
        </div>
        <div class="title_right">
            @Html.Partial("_Search")
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Associer des ressources</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="bs-example">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-xs-2 control-label" for="TypeRessourceID">Type de ressource</label>
                                <div class="col-xs-10">
                                    <select id="TypeRessourceID" name="TypeRessourceID" class="form-control">
                                        @foreach (p7cSarlWF.Models.TypeRessource type in TypesRessources)
                                        {
                                            <option value="@type.TypeRessourceID#@type.TypeName">@type.TypeName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label" for="RessourceID">Ressource</label>
                                <div class="col-xs-10">
                                    <select id="RessourceID" name="RessourceID" class="form-control">
                                        @foreach (p7cSarlWF.Models.Ressource ressource in Ressources)
                                        {
                                            <option value='@ressource.RessourceID#@ressource.RessourceName'>@ressource.RessourceName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label" for="Quantite">Quantite</label>
                                <div class="col-xs-10">
                                    <input type="number" id="Quantite" name="Quantite" class="form-control" placeholder="Spécifiez la quantité">
                                    @*<span class="help-block">Please enter a valid email address</span>*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label" for="Note">Note</label>
                                <div class="col-xs-10">
                                    <textarea id="Note" name="Note" class="form-control" placeholder="Saisir une note pour commentaire"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-10">
                                    <a href="#" class="btn btn-primary" id="ajouter">Ajouter A la liste</a>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="bs-example">
                        <table id="Ressources" class="table table-striped responsive-utilities jambo_table">
                            <thead>
                                <tr class="headings">
                                    <th>Type de ressource</th>
                                    <th>Ressource</th>
                                    <th>Quantité</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (p7cSarlWF.Models.ProjectRessource Ressource in Model.ProjectRessources)
                                {
                                    <tr class="pointer">
                                        <td>@Ressource.Ressource.TypeRessource.TypeName</td>
                                        <td>@Ressource.Ressource.RessourceName</td>
                                        <td>@Ressource.Quantite</td>
                                        <td>@Ressource.Note</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


@section script{
    <script type="text/javascript">
    $(function () {
        $('#ajouter').click(function () {
            NProgress.start();
            var typeRessource = $("#TypeRessourceID").val();
            var ressource = $("#RessourceID").val();
            var note = $("#Note").val();
            var quantite = $("#Quantite").val();
            var idtype = typeRessource.split("#")[0];
            var nomtype = typeRessource.split("#")[1];
            var idRessource = ressource.split("#")[0];
            var nomRessource = ressource.split("#")[1];
            var idprojet = @Model.ProjectID ;
            var projectRessource = {ProjectID:idprojet, RessourceID:idRessource, Quantite:quantite, Note:note};
            console.log(projectRessource.toString())
            $.post("http://localhost:6650/api/Projects/Ressource", projectRessource, function (data) {
                //s'il faut exploiter le message venu du serveur
            }).done(function() {
                new PNotify({
                    title: "Opération réussie",
                    type: "success",
                    text: "La ressource a été associée au projet avec succès.",
                    nonblock: {
                        nonblock: false
                    }
                });
                /*
                new TabbedNotification({
                    title: 'Opération réussie',
                    text: 'La ressource a été ajoutée au projet avec succès.',
                    type: 'success',
                    sound: true
                });*/
                $('#Ressources').append("<tr class='pointer'><td>"+nomtype+"</td><td>"+nomRessource+"</td><td>"+quantite+"</td><td>"+note+"</td></tr>");
            })
            .fail(function() {
                alert( "L'affectation de la ressource a échoué. Une erreur interne." );
            })
            .always(function() {
                //ici je vais mettre le code pour cacher l'image loader
                NProgress.done();
            });

        });
    });
</script>
}
